<cart-notification class="cart-notification">
  <div class="cart-notification__content">
    Zum Warenkorb hinzugefügt
  </div>
  <button class="cart-notification__close">
    X
  </button>
</cart-notification>