<section class="img-comp-container"> 
  <div class="img-comp-img">
     {% if product.metafields.custom.comparison_slider_without_wrap != blank %}
       <img src="{{ product.metafields.custom.comparison_slider_without_wrap | img_url: 'master' }}" >
        {% else %}
        <img src="https://cdn.shopify.com/s/files/1/0601/8256/0962/files/without-wap-choclate.png?v=1678877417" >
       {% endif %}
  </div>
  
  <div class="img-comp-img img-comp-overlay">
    {% if product.metafields.custom.comparison_slider_with_wrap != blank %}
      <img src="{{ product.metafields.custom.comparison_slider_with_wrap | img_url: 'master' }}">
      {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0601/8256/0962/files/wrap-choclate.png?v=1678877417">
      {% endif %}
  </div>

  <input type="range" id="Custom_slider_desktop" min="0" max="350" value="50%">
  <input type="range" style="display:none;" id="Custom_slider_mobile" min="0" max="175" value="50%">
  
</section>


<script>
$(document).ready(function(){

  const topImage = document.querySelectorAll('.slider_wrap1 .img-comp-img')[1];
  const slider = document.querySelector('#Custom_slider');    
  const resizeImg = (e) => {  
    console.log(e.target.value)
    topImage.style.width = `${e.target.value}px`
  }

  //slider.addEventListener('mousemove', resizeImg)

  $('#Custom_slider_desktop').mousemove(function(e){
      var max_width = $(this).attr('max');
      console.log(max_width);
      var width = e.target.value;
      var wid = width+'px';
      console.log(wid);
      $('.slider_wrap1 .img-comp-img.img-comp-overlay').css('width',wid);

   }); 

$('#Custom_slider_mobile').bind('touchmove', function(e) {
      var max_width = $(this).attr('max');
      console.log(max_width);
      var width = e.target.value;
      console.log(width);

      var wid = width+'px';
      console.log(wid);
      $('.slider_wrap1 .img-comp-img.img-comp-overlay').css('width',wid);

   }); 

  
  

});

  
</script>




<style>

.comparision_slider_wrapping .img-comp-container {
  display: flex;
  width: 350px;
  position: relative;
  margin-bottom: 385px;
}

.comparision_slider_wrapping   .img-comp-img {
  width: 100%;
  position: absolute;
}

/* Snow */
.comparision_slider_wrapping  .img-comp-img:nth-child(1) {
  z-index: 1;
  
}

/* Forest */
.comparision_slider_wrapping  .img-comp-img:nth-child(2) {
  z-index: 2;
  overflow: hidden;
  width: 50%;
}

.comparision_slider_wrapping  img {
  width: 350px;
  max-width: 350px;
}

.comparision_slider_wrapping  #Custom_slider_desktop, .comparision_slider_wrapping  #Custom_slider_mobile {
  -webkit-appearance: none;
  cursor: ew-resize;
  position: absolute;
  z-index: 100;
  width: 114%;
  top: 175px;
  left: -7%;
  background-color: transparent;
  outline: none;
}

.comparision_slider_wrapping  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    opacity: 1;
    background: #ffffff;
    margin-top: -4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

  

 @media (max-width: 1024px){
    input#Custom_slider_mobile {
    display: block!important;
  }
input#Custom_slider_desktop {
    display: none;
}
 }


  
  @media (max-width: 768px){
    .comparision_slider_wrapping .img-comp-container {
    width: 330px;
      margin: 0 auto;
    padding-bottom: 154px;
}
.comparision_slider_wrapping img {
    width: 330px;
    max-width: 330px;
}
.comparision_slider_wrapping #Custom_slider_desktop, .comparision_slider_wrapping #Custom_slider_mobile {
    top: 75px;

}

    
  }


  

</style>