<section class="img-comp-container"> 
  <div class="img-comp-img">
     {% if product.metafields.custom.comparison_slider_without_wrap != blank %}
       <img src="{{ product.metafields.custom.comparison_slider_without_wrap | img_url: 'master' }}" >
        {% else %}
        <img src="https://cdn.shopify.com/s/files/1/0601/8256/0962/files/without-wap-choclate.png?v=1678877417" >
       {% endif %}
  </div>
  
  <div class="img-comp-img img-comp-overlay">
    {% if product.metafields.custom.comparison_slider_with_wrap != blank %}
      <img src="{{ product.metafields.custom.comparison_slider_with_wrap | img_url: 'master' }}">
      {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0601/8256/0962/files/wrap-choclate.png?v=1678877417">
      {% endif %}
  </div>

  <input type="range" id="Custom_slider_desktop" min="0" max="700" value="50%">
  <input type="range" style="display:none;" id="Custom_slider_mobile" min="0" max="330" value="50%">
  
</section>
