.contact-form__button-wrapper {
  display: flex;

  &.button-position--left {
    justify-content: flex-start;
  }
  &.button-position--center {
    justify-content: center;
  }
  &.button-position--right {
    justify-content: flex-end;
  }
}

.contact-form__button {
  margin-top: 24px;
  max-width: 300px;
}

.contact-form {
  .title-wrapper {
    max-width: 1200px;
    padding-inline: 0;

    .title-wrapper__title {
      margin-bottom: 24px;
    }
  }
  .title-wrapper .title-wrapper__subtitle {
    text-align: left;
    max-width: none;
  }
}

.contact-form__form {
  max-width: 1200px;
  margin: auto;
  color: rgb(var(--color-text));
}
