.home-products {
	background-color: transparent;
	transition: all 0.25s ease-in-out;
}

.home-products__container {
	position: relative;
	padding-top: 60px;

	@include breakpoint(no-m-xl) {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: calc(100vh - 91px);
		padding-top: 0;
	}

	@include breakpoint(no-l) {
		padding-top: 20px;
	}

	@include breakpoint(no-fw) {
		height: calc(100vh - 114px);
	}

	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
		justify-content: center;
	}

	@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
		justify-content: center;
	}

	@media (max-height: 700px) and (max-width: 1366px) {
		height: auto;
		min-height: auto;
		margin-bottom: 40px;
	}
}

.home-products__title {
	max-width: 704px;
	margin: 0 auto;
	text-align: center;

	> span {
		&::before {
			background-color: $brand-tertiary;
		}
	}

	@include breakpoint(no-m-xl) {
		padding-bottom: 1vh;
	}

	@include breakpoint(no-l) {
		max-width: 720px;
	}

	@include breakpoint(no-fw) {
		max-width: 39.65vw;
		padding-bottom: 0;
	}

	@include breakpoint(m-xl) {
		padding-bottom: 70px;
	}

	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
		padding-bottom: 10vh;
	}

	@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
		padding-bottom: 10vh;
	}

	@media (max-width: 1366px) {
		font-size: 55px;
	}

	@media (max-width: 767px) {
		font-size: 40px;
	}
}

.home-products__bg-line {
	color: $brand-tertiary;
	transition: background-color 0.25s ease-in-out;
}

.home-products__button {
	opacity: 0;
	width: 100%;
	max-width: 438px;
	margin-top: 50px;
	transition: opacity 0.25s ease-in-out;

	@include breakpoint(no-l) {
		margin-top: 1vh;
	}

	@include breakpoint(no-fw) {
		max-width: 20vw;
		margin-top: 4vw;
	}

	@include breakpoint(m-xxl) {
		max-width: 278px;
		margin-top: 24px;
	}

	@include breakpoint(m-l) {
		max-width: 203px;
	}
}

.home-products__slider {
	.swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transition: all 0.25s ease-in-out;

		&.swiper-slide-active {
			transform: scale(1);

			.home-products__button {
				opacity: 1;
			}
		}

		&.swiper-slide-prev,
		&.swiper-slide-next {
			transform: scale(0.8);
		}
	}

	@include breakpoint(m-xl) {
		padding-bottom: 120px;
	}

	@include breakpoint(no-fw) {
		padding-bottom: 30px;

		.swiper-slide {
			padding-left: 4%;
			padding-right: 4%;
		}
	}
}
