$no-qhd: 'screen and (min-width: 2560px)';
$no-fw: 'screen and (min-width: 1920px)';
$xxl: 'screen and (max-width: 1700px)';
$xl: 'screen and (max-width: 1549px)';
$no-xl: 'screen and (min-width: 1550px)';
$l: 'screen and (max-width: 1249px)';
$no-l: 'screen and (min-width: 1250px)';
$no-m: 'screen and (min-width: 992px)';
$no-m-xl: 'screen and (min-width: 768px)';
$m-xxl: 'screen and (max-width: 991px)';
$m-xl: 'screen and (max-width: 767px)';
$m-l: 'screen and (max-width: 575px)';
$m: 'screen and (max-width: 480px)';