@media screen and (max-width: 991px) {
  .hidden-phone {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .mobile-vanish {
    transform: translateY(120%) !important;
  }
}

@media screen and (min-width: 992px) {
  .hidden-desktop {
    display: none !important;
  }
}

.lock-body {
  overflow: hidden;
}

[visible] {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}