@media #{$m-xl} {
  .hidden-phone {
    display: none !important;
  }
}

@media #{$m-xl} {
  .mobile-vanish {
    transform: translateY(120%) !important;
  }
}

@media #{$no-m-xl} {
  .hidden-desktop {
    display: none !important;
  }
}

.lock-body {
  overflow: hidden;
}

[visible] {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}