<div class="review_wrapper">
  <div class="container">
    <div class="review_inner">
      <h2 class="section_title"><span>{{ section.settings.title }}</span></h2>
      <div class="all_revies ">
        {% render 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: false %}
        <div class="custom_write_reviews">
          {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
        </div>
      </div>
      
      <div id="section-cta">
        <a href="{{ section.settings.link }}" class="button product-form__button">{{ section.settings.linktext }}</a>
      </div>
</div>

  </div>

</div>
 



{% schema %}
  {
    "name": "Product Reviews",
    "settings": [
      {
			"type": "text",
			"id": "title",
			"label": "Title"
		},
      {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click Here"
    }
    ],
    "blocks": [
    {
      "type": "text",
      "name":"Reviews",
      "settings": [
          {
            "type": "text",
			"id": "name",
			"label": "Name"
          },
          {
            "type": "text",
			"id": "review_title",
			"label": "Review Title"
          },
          {
            "type": "textarea",
			"id": "review_content",
			"label": "Review"
          }
      ]
    }
      ]
        
     
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}