{%- capture section_data -%}
	{%- include 'object-section-json' with section: section, type: 'minicart' -%}
{%- endcapture -%}

<section
	id="minicart-{{- section.id -}}"
	data-section-id="{{- section.id -}}"
	data-section-type="minicart"
>
	<script type="application/json" data-section-data>{{- section_data -}}</script>
</section>

{%- schema -%}
{
	"name": "Minicart",
	"settings": [
		{
			"type": "text",
			"id": "empty_button_text",
			"label": "Button text",
			"default": "SHOP ALL",
			"info": "Shown when minimap is empty"
		},
		{
			"type": "url",
			"id": "empty_button_url",
			"label": "Button url"
		}
	]
}
{%- endschema -%}
