{% if section.settings.content != blank %}
<div class="content_wrapper">
  <div class="container">
    <div class="content_inner_wrapper">
            {{ section.settings.content }}
    </div>
  </div>

  	<div class="main-product__bg-line base-triangular-line">
		{%- render 'icon-triangular-line' -%}
	</div>

  
</div>
{% endif %}

{% schema %}
  {
    "name": "Content ",
    "settings": [
        {
			"type": "html",
			"id": "content",
			"label": "Content"
		}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}