<h1 class="site-header__logo-link">
	{%- include 'icon-logo-big' -%}
</h1>
<br><br>
<span class="h2 color-white">{{ section.settings.header | escape }}</span>
<br><br>
{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "text",
			"id": "header",
			"label": "Title",
			"default": "DeEröffnet demnächst"
		}
	]
}
{% endschema %}
