{% render 'color-scheme', section: section %}

<div class="video"
		 data-section-id="{{ section.id }}"
		 data-section-type="video"
>
  {%- if section.settings.video != blank -%}
    <div class="video-wrapper">
      {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'hidden-phone' }}
      {{ section.settings.video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'hidden-desktop' }}
    </div>
  {%- endif -%}

  <div class="base-triangular-line">
		{%- render 'icon-triangular-line' -%}
	</div>
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#dbaaeb"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#2ac2bd"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#f3587f"
    }
  ],
  "presets": [
    {
      "name": "Video"
    }
  ]
}
{% endschema %}
