//$varibles color and sizes
$brand-primary: #dbaaeb;
$brand-secondary: #5359e5;
$brand-tertiary: #2ac2bd;
$brand-quaternary: #f3587f;
$brand-quinary: #275C63;
$brand-senary: #AA3E59;

$button-primary: #2ac2bd;
$button-secondary: #f3587f;
$button-tertiary: #dbaaeb;

$font-primary: "Founders Grotesk", sans-serif;
