.collection-products {
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .swiper:not(.swiper-initialized) .swiper-slide {
    width: 25%;
  }

  collection-slider {
    a {
      color: white;

      &:not(.active) {
        text-decoration: none;
      }

      &.active {
        font-weight: bold;
      }
    }

    .collection-swiper__link {
      font-size: 24px;
      margin-top: 12px;
    }
  }

  @media #{$m-xl} {
    .swiper:not(.swiper-initialized) .swiper-slide {
      width: 30%;
      margin-right: 12px;
    }

    collection-slider {
      a {
        text-decoration: none;

        &.active {
          .collection-swiper__link {
            background-color: #1d8884;
          }
        }
      }

      .collection-swiper__link {
        margin-top: 0;
        font-size: 16px;
        border-radius: 4px;
        border: 2px solid #1d8884;
        padding: 16px 16px;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
      }
    }

    .swiper-slide {
      display: inline-block;
      flex-shrink: unset;
    }
  }
}

.collection-products__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .home-products__title {
    margin-bottom: 60px;

    @media #{$m-xl} {
      margin-bottom: 40px;
      padding-bottom: 0px;
    }
  }

  &.page-width {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 80px 20px 40px;

    @media #{$m-xl} {
      padding: 40px 20px;
    }
  }

  @media (max-height: 700px) and (max-width: 1366px) {
    height: auto;
    min-height: auto;
    margin-bottom: 40px;
  }
}

.collection-products__bg-line {
  color: $brand-tertiary;
  transition: all 0.25s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: $brand-tertiary;
  }
}

.collection-products__button {
  opacity: 0;
  width: 100%;
  max-width: 438px;
  margin-top: 50px;
  transition: opacity 0.25s ease-in-out;

  @media #{$no-fw} {
    max-width: 20vw;
  }

  @media #{$m-xxl} {
    max-width: 278px;
    margin-top: 24px;
  }

  @media #{$m-l} {
    max-width: 203px;
  }
}

.collection-products__slider {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.25s ease-in-out;

    &.swiper-slide-active {
      transform: scale(1);

      .collection-products__button {
        opacity: 1;
      }
    }

    &.swiper-slide-prev,
    &.swiper-slide-next {
      transform: scale(0.8);
    }
  }

  @media #{$no-m-xl} {
    padding-bottom: 20px;
  }

  @media #{$no-m-xl} {
    .swiper-slide {
      &:not([data-slide-color="quaternary"]) {
        padding-top: 3%;
      }
    }
  }

  @media #{$no-fw} {
    padding-bottom: 30px;

    .swiper-slide {
      padding-left: 4%;
      padding-right: 4%;
    }
  }
}

// Sort By

.product-facet__meta-bar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 16px;
}

.product-facet__meta-bar-item {
  display: flex;
  align-items: center;
  color: var(--color-text);
  margin-bottom: 10px;
}

[dir="ltr"] .product-facet__meta-bar-item .icon--filters {
  margin-right: 13px;
}

[dir="rtl"] .product-facet__meta-bar-item .icon--filters {
  margin-left: 13px;
}

@media screen and (min-width: 741px) {
  .product-facet__meta-bar {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 999px) {
  .popover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    max-height: 75vh;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1),
      visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1),
      -webkit-transform 0.6s cubic-bezier(0.75, 0, 0.175, 1);
    width: 100vw;
    backface-visibility: hidden;
    background: rgb(var(--background));
    color: rgb(var(--text-color));
    display: block;
    font-size: 1rem;
    position: fixed;
    visibility: hidden;
    z-index: 100;
  }
  .popover__header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-negative: 0;
    align-items: center;
    border-bottom: 1px solid rgb(var(--root-border-color));
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    min-height: 64px;
    padding: 10px 16px;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid var(--color-text);
  }

  .popover[open] {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .popover__content,
  .popover__header {
    background: inherit;
  }
}

.popover-button {
  background-color: transparent;
  font-weight: bold;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .product-facet__meta-bar {
    justify-content: flex-start;
  }

  .popover-container {
    position: relative;
  }
  .popover-button + .popover {
    right: -20px;
  }

  .popover {
    border: 1px solid rgb(var(--root-border-color));
    border-radius: min(var(--block-border-radius), 4px);
    opacity: 0;
    position: absolute;
    top: calc(100% + 18px);
    -webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    z-index: -1;
  }

  .popover::before {
    border-color: transparent transparent rgb(var(--root-border-color))
      transparent;
    border-width: 9px;
  }

  .popover__header,
  .popover__overlay {
    display: none;
  }

  .popover__overlay {
    background: #000;
    bottom: calc(100% - 10px);
    content: "";
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
    visibility: hidden;
    width: 100%;
  }

  .popover__content {
    padding-left: 32px;
    padding-right: 32px;
  }

  .popover::after {
    right: 28px;
    border-color: transparent transparent #1d8884 transparent;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }

  .popover[open] {
    opacity: 1;
    z-index: 2;
  }
}

.popover {
  background-color: #1d8884;
}

.popover__choice-list {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.popover__choice-item {
  padding: 8px 0;
}

.popover__choice-item:not(:last-child) {
  border-bottom: 0.5px solid var(--color-text);
}

input[checked="checked"] + .popover__choice-label {
  font-weight: bold;
}

.product-facet__sort-by-title {
  padding-right: 7px;
}

.popover__title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0;
}

.popover__close-button {
  background-color: transparent;

  svg {
    stroke: #1d8884;

    path {
      fill: var(--color-text) !important;
    }
  }
}

.popover__content {
  overflow: auto;
  padding: 16px;
}

.popover-button svg {
  margin-left: 10px;
}

.popover-button[aria-expanded="true"] svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popover-button svg {
  position: relative;
  top: -1px;
  transition: transform 0.2s ease-in-out;
  width: 20px;
  height: 15px;
}

.popover[open] {
  visibility: visible;
}

.popover__choice-label:not(:last-child) {
  border-bottom: 1px solid var(--color-text);
}

.popover__choice-label {
  cursor: pointer;
  position: relative;
}

.popover__overlay {
  bottom: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  visibility: hidden;
  width: 100%;
}

.popover[open] > .popover__overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  backdrop-filter: blur(1px);
}

.products_listing {
  width: 100%;
  display: inline-block;
  float: left;
  padding: 60px 0;
  background: #2ac2bd;

  @media #{$m-xl} {
    padding-top: 20px;
  }
}
.products_listing .page-width {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.products_listing ul.grid {
  width: 100%;
  display: inline-block;
  float: left;
}
.products_listing ul.grid li.grid__item {
  display: inline-block;
  float: left;
  padding: 50px;
  min-height: 440px;
  margin: 6px; /* Adjust margin to account for the shadow size */
  transition: background-color 0.3s, box-shadow 0.3s;

  @media #{$m-xl} {
    margin: 0;
  }
}
.products_listing ul.grid li.grid__item .product-card {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}
.products_listing .grid-view-item__image-wrapper {
  width: 100%;
  display: inline-block;
  float: left;
}
.products_listing .grid-view-item__image-wrapper > div {
  padding: 0 !important;
  text-align: center;
}
.products_listing .grid-view-item__image {
  width: 100% !important;
  height: unset !important;
}

.products_listing ul.grid li.grid__item .product-card .product-card__title {
  width: 100%;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  min-height: 70px;
  margin-top: 20px;

  @media #{$m-xl} {
    min-height: 0;
  }
}
.products_listing ul.grid li.grid__item .product-card .price__sale {
  display: none;
}

.products_listing .size_price_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 20px;
  gap: 10px;
}
.products_listing .size_price_wrapper .price_wrapper {
  width: 50%;
  display: inline-block;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.products_listing .size_price_wrapper .size_wrapper__labels {
  display: flex;
  gap: 10px;
}
.products_listing .size_price_wrapper .size_wrapper {
  display: inline-flex;
  align-items: center;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d8884;
  background-color: #6ad4d1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  gap: 5px;

  @media #{$m-xl} {
    font-size: 11px;
    padding: 4px 6px;
  }
}
.products_listing a.grid-view-item__link {
  background: #dbaaeb;
  border-radius: 1.79334px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
  padding: 15px 10px;
}
.products_listing .section-header.text-center h2 {
  width: auto;
  display: inline-block;
  float: none;
  position: relative;
}
.products_listing .section-header.text-center h2:after {
  content: "";
  background: #dbaaeb;
  position: absolute;
  height: 32px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -6px;
  z-index: 1;
}

.products_listing .page-width .section-header span {
  z-index: 2;
  position: relative;
  color: #fff;
}

@media #{$no-m-xl} {
  .products_listing ul.grid li.grid__item:hover {
    background-color: #6ad4d1;
    box-shadow: 4px 4px 6px 2px rgba(29, 136, 132, 0.3);
    border-radius: 8px;
  }

  .products_listing ul.grid li.grid__item:hover .size_wrapper {
    border: 1px solid #1d8884;
  }
}

.products_listing .grid--view-items {
  display: grid !important;
  gap: 30px;

  @media #{$m-l} {
    gap: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .products_listing .grid--view-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1023px) {
  .products_listing .grid--view-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .products_listing .collection-products__container {
    height: unset;
    min-height: 45vh;
  }
  .products_listing ul.grid li.grid__item {
    display: inline-block;
    float: left;
    padding: 15px 2%;
    margin-bottom: 40px;
  }
}

.custom_data_wrapping {
  height: 100%;
  width: 100%;
}

.custom_data_wrapping .button {
  padding: 16px 16px;
}

@media (max-width: 768px) {
  .products_listing .collection-products__container {
    height: unset;
  }

  .custom_data_wrapping .button {
    padding: 8px 0;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .product_content_wrapping {
    width: 100%;
    display: inline-block;
  }
  .products_listing ul.grid li.grid__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .products_listing ul.grid li.grid__item {
    min-height: unset;
  }
  .products_listing img.hover_image_show {
    width: 92% !important;
    height: unset !important;
    /*     rotate: -90deg; */
    max-width: 100% !important;
    max-height: 100% !important;
    position: relative;
    top: 57px;
  }
}

@media (max-width: 480px) {
  .section-header.text-center h2 {
    font-size: 20px;
  }
  .products_listing ul.grid li.grid__item {
    margin-bottom: 0px;
  }

  .products_listing ul.grid li.grid__item .product-card .product-card__title {
    font-size: 16px;
    line-height: 20px;
    min-height: auto;
  }
  .products_listing a.grid-view-item__link {
    background: #dbaaeb;
    border-radius: 1.79334px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 12px 5px;
  }
  .products_listing .page-width {
    padding: 0 10px;
  }
  .products_listing .grid-view-item__image {
    width: 93% !important;
    top: 57px;
    left: -15px;
  }
}

.products_listing .price-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.products_listing .product-item__unit-price {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.6em;
  margin-top: -5px;
}
