.comparision_slider_wrapping .img-comp-container {
  display: flex;
  width: 700px;
  position: relative;
  margin-bottom: 385px;
}

.comparision_slider_wrapping .img-comp-img {
  width: 100%;
  position: absolute;
}

/* Snow */
.comparision_slider_wrapping .img-comp-img:nth-child(1) {
  z-index: 1;
}

/* Forest */
.comparision_slider_wrapping .img-comp-img:nth-child(2) {
  z-index: 2;
  overflow: hidden;
  width: 50%;
}

.comparision_slider_wrapping img {
  width: 700px;
  max-width: 700px;
}

.comparision_slider_wrapping #Custom_slider_desktop,
.comparision_slider_wrapping #Custom_slider_mobile {
  -webkit-appearance: none;
  cursor: ew-resize;
  position: absolute;
  z-index: 100;
  width: 114%;
  top: 175px;
  left: -7%;
  background-color: transparent;
  outline: none;
}

.comparision_slider_wrapping input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  opacity: 1;
  background: #ffffff;
  margin-top: -4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 1024px) {
  input#Custom_slider_mobile {
    display: block !important;
  }
  input#Custom_slider_desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .comparision_slider_wrapping .img-comp-container {
    width: 330px;
    margin: 0 auto;
    padding-bottom: 154px;
  }
  .comparision_slider_wrapping img {
    width: 330px;
    max-width: 330px;
  }
  .comparision_slider_wrapping #Custom_slider_desktop,
  .comparision_slider_wrapping #Custom_slider_mobile {
    top: 75px;
  }
}
