.main-product {
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;
}

.main-product__images {
  position: relative;
  overflow: hidden;
  padding-top: 86px;
}

.main-product__bg-line {
  color: $brand-tertiary;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background-color: $brand-tertiary;
  }
}

[data-pdp-bg="primary"],
[data-pdp-bg="primary"] .main-product {
  background-color: #dbaaeb;
}

[data-pdp-bg="secondary"],
[data-pdp-bg="secondary"] .main-product,
[data-pdp-bg="secondary"] .product-page {
  background-color: #5359e5;
}

[data-pdp-bg="tertiary"],
[data-pdp-bg="tertiary"] .main-product,
[data-pdp-bg="tertiary"] .product-page {
  background-color: #2ac2bd;
}

[data-pdp-bg="quaternary"],
[data-pdp-bg="quaternary"] .main-product,
[data-pdp-bg="quaternary"] .product-page {
  background-color: #f3587f;
}

[data-pdp-bg="quinary"],
[data-pdp-bg="quinary"] .main-product,
[data-pdp-bg="quinary"] .product-page {
  background-color: #035d64;
}

[data-pdp-bg="senary"],
[data-pdp-bg="senary"] .main-product,
[data-pdp-bg="senary"] .product-page {
  background-color: #9c4054;
}
