.product-page__gallery {
  padding: 0;
  width: 100%;
  overflow: hidden;

  @media #{$m-xxl} {
    margin-bottom: 20px;
  }

  .product-gallery {
    margin: 0;
    position: relative;

    .swiper-container-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: opacity 0.25s ease-in-out;
      @media #{$m-xxl} {
        flex-direction: column-reverse;
      }

      @media #{$m-xxl} {
        align-items: center;
      }
    }

    .product-gallery__slider {
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
      max-width: 80%;
      
      @media #{$no-m} {
        margin-left: 100px;
        max-width: 100%;
      }

      @media #{$m-xxl} {
        margin-left: 0;
        margin-bottom: 10px;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$m-xxl} {
          height: auto;
        }
      }

      picture {
        display: inline-block;
      }
    }

    picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .product-gallery__slider-thumbnail {
      position: relative;
      overflow: hidden;
      height: 100%;
      left: 0;
      padding: 0;
      flex-shrink: 0;
      max-height: 600px;

      .swiper-wrapper {
        gap: 10px;
      }

      &.swiper-initialized .swiper-wrapper {
        gap: 0;
      }

      @media #{$no-m} {
        position: absolute;

        .swiper-wrapper {
          flex-direction: column;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          box-shadow: 0 0 10px 10px var(--section-background-color);
          z-index: 10;
        }
      }

      .swiper-slide {
        cursor: pointer;
        width: 64px;
        height: 64px;
      }

      @media #{$m-xxl} {
        width: 100%;
      }

      picture {
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border: 1px solid #fff;
        padding: 5px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
