.template-collection {
	.footer__bg-line {
		display: none;
	}

	.footer__wrap {
		background-color: $brand-tertiary;
	}

	.footer__logo {
		color: $brand-primary;
	}

	&[data-site-bg="primary"] {
		.collection-products {
			background-color: $brand-primary;
		}
	}

	&[data-site-bg="secondary"] {
		.collection-products {
			background-color: $brand-secondary;
		}
	}

	&[data-site-bg="tertiary"] {
		.collection-products {
			background-color: $brand-tertiary;
		}

		.collection-products__bg-line {
			color: $brand-primary;

			&::after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 2px;
				background-color: $brand-primary;
			}
		}

		.footer__wrap {
			background-color: $brand-primary;
		}

		.footer__logo {
			color: $brand-tertiary;
		}
	}

	&[data-site-bg="quaternary"] {
		.header__logo-wrapper {
			color: $brand-tertiary;
		}

		.collection-products {
			background-color: $brand-quaternary;
		}

		@media #{$no-m-xl} {
			.header {
				background-color: $brand-quaternary;
			}
		}
	}
}
