.template-collection[data-site-bg="quaternary"] .header__logo-wrapper {
  color: #f3587f;
}
.template-collection[data-site-bg="quaternary"] .collection-products {
  background-color: #2ac2bd;

  .base-triangular-line {
    color: #2ac2bd;
  }
}

.template-collection[data-site-bg="quaternary"]
  .home-products__title
  > span:before {
  background-color: #f3587f;
}

.template-collection[data-site-bg=quaternary] .footer__wrap {
  background-color: #5359e5 !important;
}

.template-collection[data-site-bg=quaternary] footer.footer svg.icon-triangular-line {
  color: #5359e5 !important;
  background-color: #2ac2bd!important;
}

@media (min-width: 768px) {
  .template-collection[data-site-bg="quaternary"] .header {
    background-color: #dbaaeb;
  }

  .template-collection[data-site-bg="quaternary"] .collection-products {
    background-color: #dbaaeb;

    .base-triangular-line {
      color: #dbaaeb;
    }
  }

  .template-collection[data-site-bg="quaternary"] .header__logo-wrapper {
    color: #2ac2bd;
  }

  .template-collection[data-site-bg="quaternary"]
    .home-products__title
    > span:before {
    background-color: #2ac2bd;
  }
}

.template-collection {
  .footer__wrap {
    background-color: $brand-tertiary;
  }

  .footer__logo {
    color: $brand-primary;
  }

  &[data-site-bg="primary"] {
    .collection-products {
      background-color: $brand-primary;
    }
  }

  &[data-site-bg="secondary"] {
    .collection-products {
      background-color: $brand-secondary;
    }
  }

  &[data-site-bg="tertiary"] {
    .collection-products {
      background-color: $brand-tertiary;
    }

    .footer__wrap {
      background-color: $brand-primary;
    }

    .footer__logo {
      color: $brand-tertiary;
    }
  }

  &[data-site-bg="quaternary"] {
    .header__logo-wrapper {
      color: $brand-tertiary;

      @media #{$m-xl} {
        color: $brand-quaternary;
      }
    }

    .collection-products {
      background-color: $brand-primary;
    }

    .header {
      background-color: $brand-primary;
    }

    @media #{$m-xl} {
      .collection-products {
        background-color: $brand-tertiary;
      }

      .header {
        background-color: $brand-tertiary;
      }
    }
  }
}
