.template-page {
	&.template-page--jobs,
	&.template-page--terms,
	&.template-page--community {
		background-color: $brand-primary;

    .base-triangular-line {
      color: $brand-primary;
    }

		.header {
			background-color: $brand-primary;
		}

		.footer__logo {
			color: $brand-primary;
		}
	}

	&.template-page--withdrawal {
		background-color: $brand-tertiary;

    .base-triangular-line {
      color: $brand-tertiary;
    }

		.header__logo-wrapper {
			color: $brand-quaternary;
		}

		.footer__logo {
			color: $brand-tertiary;
		}

		.footer__wrap {
			background-color: $brand-primary;
		}
	}

	&.template-page--guidelines,
	&.template-page--methods,
	&.template-page--faq,
	&.template-page--about-us,
	&.template-page--contact {
		background-color: $brand-secondary;

    .base-triangular-line {
      color: $brand-secondary;
    }

		.header {
			background-color: $brand-secondary;
		}

		.footer__logo {
			color: $brand-secondary;
		}
	}
}
