.template-product {
	&[data-pdp-bg="primary"] {
		.main-product {
			background-color: $brand-primary;

			.title-bg {
				> span {
					&::before {
						background-color: $brand-tertiary;
					}
				}
			}

      .base-triangular-line {
        color: $brand-primary;
      }
		}

		.footer__wrap {
			background-color: $brand-secondary;
		}
	}

	&[data-pdp-bg="secondary"] {
		.main-product {
			background-color: $brand-secondary;

      .base-triangular-line {
        color: $brand-secondary;
      }
		}

		.footer__wrap {
			background-color: $brand-tertiary;
		}

		.footer__logo {
			color: $brand-primary;
		}
	}

	&[data-pdp-bg="tertiary"] {
		.main-product {
			background-color: $brand-tertiary;

      .base-triangular-line {
        color: $brand-tertiary;
      }
		}

		.ingredients,
		.footer__wrap {
			background-color: $brand-secondary;
		}

    .ingredients {
      .base-triangular-line {
        color: $brand-secondary;
      }
    }

		/* stylelint-disable no-descending-specificity */
		.ingredients__title {
			> span {
				&::before {
					background-color: $brand-tertiary;
				}
			}
		}
	}

	&[data-pdp-bg="quaternary"] {
		.main-product {
			background-color: $brand-quaternary;

      .base-triangular-line {
        color: $brand-quaternary;
      }
		}

		.footer__wrap {
			background-color: $brand-tertiary;
		}

		.footer__logo {
			color: $brand-primary;
		}
	}
}
