@media screen and (max-width: 768px) {
  .hidden-phone {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .hidden-desktop {
    display: none !important;
  }
}

.products_listing {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 60px 0;
    background: #2ac2bd;
}
.products_listing .page-width {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.products_listing ul.grid {
    width: 100%;
    display: inline-block;
    float: left;
      padding: 50px 0 0 0;
}
.products_listing ul.grid li.grid__item {
    width: 33.33%;
    display: inline-block;
    float: left;
    padding: 15px 50px;
  margin-bottom: 70px;
      min-height: 440px;
}
.products_listing ul.grid li.grid__item .product-card {
    width: 100%;
    display: inline-block;
    float: left;
}
.products_listing .grid-view-item__image-wrapper {
    width: 100%;
    display: inline-block;
    float: left;
}
.products_listing .grid-view-item__image-wrapper>div {
    padding: 0!important;
    text-align: center;
}
.products_listing .grid-view-item__image {
    width: 100%!important;
    height: unset!important;
}


.products_listing ul.grid li.grid__item .product-card .product-card__title {
    width: 100%;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    min-height: 70px;
  margin-top: 20px;
}
.products_listing ul.grid li.grid__item .product-card .price__sale {
    display: none;
}

.products_listing .size_price_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.products_listing .size_price_wrapper .price_wrapper {
    width: 50%;
    display: inline-block;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.products_listing .size_price_wrapper .size_wrapper {
    width: 50%;
    display: inline-block;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.products_listing a.grid-view-item__link {
    background: #DBAAEB;
    border-radius: 1.79334px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    padding: 15px 10px;
}
.products_listing .section-header.text-center h2 {
    width: auto;
    display: inline-block;
    float: none;
    position: relative;
}
.products_listing .section-header.text-center h2:after {
    content: "";
    background: #dbaaeb;
    position: absolute;
    height: 32px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -6px;
    z-index: 1;
}

.products_listing .page-width .section-header span {
    z-index: 999;
    position: relative;
    color: #fff;
}

.products_listing .grid-view-item__image-wrapper:hover img.hover_image_show {
    display: block!important;
}

.products_listing .grid-view-item__image-wrapper:hover img.hover_image_hide {
    display: none!important;
}






@media (max-width: 1024px){
.products_listing .collection-products__container {
    height: unset;
    min-height: 45vh;
}
.products_listing ul.grid li.grid__item {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 15px 2%;
    margin-bottom: 40px;
}


  

  }

  .custom_data_wrapping .button {
    padding: 16px 16px;
  }

@media (max-width: 768px){
.products_listing .collection-products__container {
    height: unset;
}

  .custom_data_wrapping .button {
    padding: 8px 0;
    font-size: 14px;
  }
}


@media (max-width: 640px){
.products_listing .custom_data_wrapping {
display: flex;
    width: 100%;
    overflow: hidden;
}
  .products_listing .grid-view-item__image-wrapper {
    max-width: 35%!important;
  }
.product_content_wrapping {
    width: 100%;
    max-width: 65%;
    display: inline-block;
}
.products_listing ul.grid li.grid__item {
  width: 100%;
    padding: 15px 0px;
    margin-bottom: 30px;
}
.products_listing .grid-view-item__image {
    width: 92%!important;
    height: unset!important;
    rotate: -90deg;
    max-width: 100%!important;
    max-height: 100%!important;
    position: relative;
    top: 57px;
}
.products_listing ul.grid li.grid__item {
    min-height: unset;
}
.products_listing img.hover_image_show {
    width: 92%!important;
    height: unset!important;
/*     rotate: -90deg; */
    max-width: 100%!important;
    max-height: 100%!important;
    position: relative;
    top: 57px;
}

  

}


@media (max-width: 480px){
.collection-products__container {
    min-height: 45vh;
}
.products_listing .page-width {
    padding: 0 10px;
}
.section-header.text-center h2 {
    font-size: 20px;
}
.products_listing ul.grid {
    padding: 20px 0 0;
}
.products_listing ul.grid li.grid__item {
    margin-bottom: 0px;
}

.products_listing ul.grid li.grid__item .product-card .product-card__title {
    font-size: 16px;
    line-height: 20px;
  min-height: auto;
}
.products_listing a.grid-view-item__link {
    background: #DBAAEB;
    border-radius: 1.79334px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 12px 5px;
}
.products_listing .page-width {
    padding: 0 20px;
}
  .products_listing .grid-view-item__image {
    width: 93%!important;
    top: 57px;
    left: -15px;
}   
}
@media (min-width: 320px) and (max-width: 480px) {
div#section-cta {
    margin: 5pc 0pc 0pc !important;
}
.review_wrapper .container {
    max-width: 100% !important;
}  
}



/* 
footer.footer svg.icon.icon-triangular-line {
    color: #2ac2bd;
}
 */

.template-page footer.footer svg.icon.icon-triangular-line {
    color: #2ac2bd;
}



.template-collection[data-site-bg=secondary] footer.footer .base-triangular-line svg{
  color: #5359e5!important
}
.template-collection .footer__wrap {
    background-color: #5359e5;
}

.template-collection footer.footer svg.icon-triangular-line {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
}
.template-collection[data-site-bg=tertiary] .collection-products__bg-line{
  color: #5359e5!important
}
.template-collection[data-site-bg=tertiary] footer.footer .collection-products__bg-line{
  color: #dbaaeb!important
}

.template-collection[data-site-bg=tertiary] footer.footer .base-triangular-line svg {
    color: #dbaaeb!important;
}

.template-collection[data-site-bg=tertiary] .collection-products__bg-line::after{
      display:none;
}

.template-collection[data-site-bg=secondary] footer.footer .base-triangular-line svg{
  color:#dbaaeb!important
}


.template-collection[data-site-bg=quinary] footer.footer .base-triangular-line {
    background: #2ac2bd!important;
}
.template-collection[data-site-bg=quinary] footer.footer svg.icon-triangular-line {
    color: #5359e5!important;
}

.template-collection[data-site-bg=quaternary] footer.footer svg.icon-triangular-line{
  color: #5359e5;
}

.template-collection[data-site-bg=senary] footer.footer svg.icon-triangular-line{
  color:#5359e5!important;
}
.template-collection[data-site-bg=senary] footer.footer .base-triangular-line{
  background: #2ac2bd!important;
}



.template-collection[data-pdp-bg=quaternary] .footer__bg-line.base-triangular-line, .template-collection[data-site-bg=quaternary] .footer__bg-line.base-triangular-line {
	background-color: #2ac2bd !important;
}
.template-collection[data-pdp-bg=quaternary] .footer__wrap, .template-collection[data-site-bg=quaternary] .footer__wrap {
	background-color: #5359E5 !important;
}
.template-collection[data-pdp-bg=quaternary] .footer__bg-line.base-triangular-line, .template-collection[data-site-bg=quaternary] .footer__bg-line.base-triangular-line {
	background-color: #2ac2bd !important;
}
.template-collection[data-pdp-bg=primary] .footer__bg-line.base-triangular-line, .template-collection[data-site-bg=primary] .footer__bg-line.base-triangular-line{
	background-color: #2ac2bd !important;
}
.template-collection[data-pdp-bg=primary] .footer__wrap, .template-collection[data-site-bg=primary] .footer__wrap{
	background-color: #5359E5 !important;
}
.template-collection[data-pdp-bg=primary] .footer__bg-line.base-triangular-line, .template-collection[data-site-bg=primary] .footer__bg-line.base-triangular-line {
	background-color: #2ac2bd !important;
}
.template-collection[data-pdp-bg=secondary] .footer__bg-line.base-triangular-line, .template-collection[data-site-bg=secondary] .footer__bg-line.base-triangular-line {
	background-color: #2ac2bd !important;
}
.template-collection[data-pdp-bg=secondary] .footer__wrap, .template-collection[data-site-bg=secondary] .footer__wrap{
	background-color: #DBAAEB !important;
}
.template-collection[data-pdp-bg=tertiary] .footer__wrap, .template-collection[data-site-bg=tertiary] .footer__wrap{
	background-color: #DBAAEB !important;
}
.template-collection[data-pdp-bg=tertiary] .products_listing, .template-collection[data-site-bg=tertiary] .products_listing{
	background-color: #5359E5 !important;
}
.template-collection[data-pdp-bg=tertiary] .footer__bg-line.base-triangular-line, .template-collection[data-site-bg=tertiary] .footer__bg-line.base-triangular-line {
	background-color: #5359E5 !important;
}



.template-collection[data-pdp-bg="primary"] footer.footer svg.icon.icon-triangular-line{
  color: #5359e5!important;
}

.template-collection footer.footer svg.icon-triangular-line{
  color:#5359e5;
}
.popup.popup--open {
    visibility: visible;
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
/*     -webkit-overflow-scrolling: touch; */
    transition-property: opacity,visibility;
    transition-duration: .3s;
}
.popup:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 200px);
    background-color: #00000080;
    transform: translateY(-60px);
}
.popup.popup--open {
    visibility: visible;
    opacity: 1;
}
.newsletter-popup__container {
    max-width: 740px;
}
.popup__container {
    width: 100%;
    margin: auto;
    padding: 30px 0;
/*     max-width: 750px; */
}
.popup.popup--open .popup__content-wrapper {
    transform: translateY(0);
}
.newsletter-popup .popup__content-wrapper {
    background: none;
}
.newsletter-popup__content-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.popup__content-wrapper {
/*     padding: 20px;
    background-color: #fff;
    transform: translateY(-20px); */
    transition-property: transform;
    transition-duration: .3s;
}
.newsletter-popup__close {
    top: 22px;
    right: 19px;
}
.newsletter-popup__close {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 27px;
    right: 24px;
    border-radius: 4px;
    margin: 0;
    padding: 1px;
    background-color: #fff;
}
.popup__close-button {
/*     margin: 10px 0;
    padding: 5px 10px;
    background-color: #dadada; */
    font-weight: 700;
    text-transform: uppercase;
}
.newsletter-popup__image-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    flex: 0 0 41.22%;
    max-width: 360px;
}
.popup__content {
    flex: 0 0 58.78%;
    max-width: 58.78%;
    padding: 40px 57px 31px;
    text-align: center;
}
.popup__content {
/*     flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 17px 60px;
    text-align: center; */
    background: #fff;
}
.newsletter-popup__title {
    padding-left: 0;
    padding-right: 0;
    font-family: Founders Grotesk,sans-serif;
    font-size: 24px;
    line-height: 1.1;
}
.newsletter-popup__title+.newsletter-popup__description {
    margin-top: 18px;
}
.newsletter-popup__description {
    padding-left: 0;
    padding-right: 0;
}
.newsletter-popup__description {
/*     padding-left: 20px;
    padding-right: 20px; */
    font-family: Founders Grotesk,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
}
.newsletter-popup__description+.newsletter-popup__form {
    margin-top: 34px;
}
.newsletter-popup__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}
.newsletter-popup__field {
    width: 100%;
}
.newsletter-popup__label {
    display: none;
    margin-bottom: 0;
    position: relative;
}
.newsletter-popup__input {
    border-bottom-color: #b3b3b3;
    color: #000;
    width: 100%;
    padding: 11px 10px 11px 0;
    min-height: 42px;
}
.newsletter-popup__field+.newsletter-popup__field {
    margin-top: 4px;
}
.newsletter-popup__button {
    margin-top: 40px;
}
.newsletter-popup__button {
    width: 100%;
/*     margin-top: 28px; */
    padding: 17px 30px;
    background-color: #dbaaeb;
}
.newsletter-popup__description+.newsletter-popup__form {
    margin-top: 34px;
}
.newsletter-popup__footer-text {
    font-size: 12px;
    line-height: 1.7;
    color: #000;
    text-align: center;
    margin-top: 16px;
    padding: 0 10px;
}
.newsletter-popup__border-border {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: auto;
    right: 0;
    transform: rotate(0) translate(15px);
    color: #fff;
    width: 16px;
}




/******************* PERFORMCE PAGE CSS *******************/

.main-product .product_main {
    width: 100%;
    display: inline-block;
    float: left;
}
.main-product .product_main .container {
    width: 100%;
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    float: none;
}
.main-product .product_main .container .product_main_wraper {
    width: 100%;
    display: inline-block;
    float: left;
  padding: 50px 0 140px 0
}
.main-product .product_main .container .product_main_wraper .image_side {
    width: 50%;
    display: inline-block;
    float: left;
  padding: 0px 20px;
}
.main-product .product_main .container .product_main_wraper .content_side {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 0px 20px;
}

.main-product .product_main h2.main_ptoduct_title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
  position: relative;
}
.main-product .product_main p.sub_ttile {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 18px;
}

.main-product .product_main h2.main_ptoduct_title span {
    position: relative;
    z-index: 9999;
} 
.main-product .product_main .review_variant_pr {
    width: 100%;
    display: inline-block;
    float: left;
    padding-top: 15px;
}
.main-product .product_main .review_variant_pr .product_review {
    width: 50%;
    display: inline-block;
    float: left;
}
.main-product .product_main .review_variant_pr .prodcut_price {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: right;
}
.main-product .product_main .review_variant_pr .product_review p.star_rationg {
    color: #ffff;
}
.main-product .product_main .review_variant_pr .prodcut_price p.custom_varint {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.main-product .product_main .review_variant_pr .prodcut_price p.main_price {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
}
.main-product .product_main .container .product_main_wraper .content_side_cont {
    width: 100%;
    display: inline-block;
    padding-top: 35px;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .content_side_wwrp {
    width: 100%;
    display: flex;
    float: left;
    gap: 10px;
  margin-bottom: 35px;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping {
    width: 33.33%;
    display:  inline-block;
    float: left;
  border: 1px solid #bbbbbb;
    border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.product_main_wraper .product_wraping.Active {
    background: rgba(170, 62, 89, 0.8);
    border: 1px solid #AA3E59!important;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label:after {
    content: '';
    height: 22px;
    background: #2ac2bd;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 155px;
    display: block;
    margin: 0 auto;
    float: none;
    bottom: 0px;
    z-index: 1;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label span {
    z-index: 999;
    position: relative;
}
.product_main_wraper .content_side_wwrp .product_wraping .selected_pro_title{
    padding-top: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.product_main_wraper .content_side_wwrp .product_wraping p.custom_varint {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 5px;
    margin-bottom: 20px;
}

.product_main_wraper .content_side_wwrp .product_wraping div.sle_price_pro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 15px 0 30px;
}

.sle_price_pro-unit-price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: .02em;
  color: #fff;
}

.product_main_wraper .content_side_wwrp .product_wraping_inner {
      width: 100%;
    display: inline-block;
    padding: 10px;
      min-height: 300px;
}
.product_main_wraper .content_side_wwrp .discount_label {
font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .02em;
    color: #fff;
    background: rgba(170,62,89,.3);
    border-radius: 3px;
    padding: 7px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}
.product_main_wraper .content_side_wwrp .product_wraping_inner .wrap_img {
    width: 100%;
    display: inline-block;
    float: left;
}

.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment {
    width: 100%;
    display: inline-block;
    float: left;
    margin-top: 55px;
    position: relative;
    padding: 40px 10px 20px 10px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment {
    margin-bottom: 55px;
  }
}
.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment p.tit_label {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: -19px;
    left: 0;
    right: 0;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment .delevery_section {
width: 50%;
    display: inline-block;
    float: left;
    padding: 10px 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  border-right: 1px solid;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment .payment_section {
  width: 50%;
  display: flex;
  float: left;
  padding: 10px 55px;
  text-align: center;
}

.payment_section-image {
  object-fit: contain;
}

.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment p.tit_label:after {
    content: '';
    width: 180px;
    height: 23px;
    background: #2AC2BD;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    bottom: -2px;
    z-index: 1;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment p.tit_label span {
    position: relative;
    z-index: 999;
}
.main-product .product_main .main-product__bg-line {
    width: 100%;
  color: #2ac2bd;
}
.content_wrapper {
    width: 100%;
    display: inline-block;
}
.content_wrapper .content_inner_wrapper {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
  padding: 140px 0;
}
.content_wrapper .container {
    max-width: 53vw;
}


.review_wrapper {
    width: 100%;
    display: inline-block;
  background: #F3587F;
}
.review_wrapper .container {
    max-width: 85%;
}
.review_wrapper .container .review_inner {
    width: 100%;
    display: inline-block;
    padding: 70px 0 90px 0;
}
.review_wrapper .container .review_inner h2.section_title {
margin-bottom: 35px;
    position: relative;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}
/* .all_revies.slider_autoplay button {
    display: none!important;
} */
.all_revies.slider_autoplay .customer_review {
    margin: 0 15px;
    padding: 25px 25px;
    border: 1px solid #ffff;
    border-radius: 5px;
    color: #fff;
}
.review_wrapper .container .review_inner h2.section_title:after {
    content: '';
    width: 100%;
    height: 40px;
    background: #2ac2bd;
    position: absolute;
    bottom: -2px;
    right: 0;
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 400px;
    left: 150px;
    z-index: 1;
}
.review_wrapper .container .review_inner h2.section_title span {
    position: relative;
    z-index: 99;
}
.all_revies.slider_autoplay .customer_review .name_ration {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.all_revies.slider_autoplay .customer_review .name_ration p.customer_name {
    text-align: left;
    width: 50%;
    display: inline-block;
}
.all_revies.slider_autoplay .customer_review .name_ration p.ratings_stars {
    text-align: right;
    width: 50%;
    display: inline-block;
}
.all_revies.slider_autoplay .customer_review p.review_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 6px;
} 
.all_revies.slider_autoplay p.review_content {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.all_revies.slider_autoplay .customer_review .name_ration p.ratings_stars img {
    display: block;
    float: right;
}
.custom_compare_temp .footer__bg-line.base-triangular-line {
    background-color: #F3587F;
}
.content_wrapper .main-product__bg-line {
    color: #F3587F;
}
.content_wrapper .main-product__bg-line::after{
  display:none;
}
/* div#shopify-section-template--17892190748936__compare_big_content {
    display: inherit;
} */
.advantages__header .slider_images {
    width: 100%;
    padding-bottom: 75px;
}




.accordian_tabber_content section h3 {
    background: transparent;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}
.accordian_tabber_content section div {
    background: transparent;
    padding: 10px 10px 45px;
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.accordian_tabber_content section h3 i {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color: #fff;
    font-size: 17px;
}

.accordian_tabber_content {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    display: block;
    padding: 90px 0 40px 0;
}
.accordian_tabber_content section.accordian_tabber table {
    width: 100%;
    text-align: center;
}
.accordian_tabber_content section.accordian_tabber table tr {
    border-bottom: 1px solid;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.accordian_tabber_content section.accordian_tabber table tr td {
    width: 33%;
    display: inline-block;
}
.accordian_tabber_content section.accordian_tabber table tr td:nth-child(1) {
    text-align: left;
}
.custom_compare_temp section.advantages .ingredients__bg-line svg.icon-triangular-line {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
    background: #dbaaeb;
}
.custom_compare_temp section.advantages .ingredients__bg-line {
    color: #5359e5;
}
section.advantages.advantages--product .ingredients__bg-line::after{
  display: none;
}


.custom_compare_temp .main-product {
    background-color: #F3587F!important;
}
.site-bg-color.custom_compare_temp[data-pdp-bg=secondary] .header{
  background-color: #F3587F!important;
}

.custom_compare_temp .main-product .product_main {
    background-color: #F3587F!important;
}



@media (min-width: 1500px){
.advantages__header .slider_images {
    width: 100%;
    padding-bottom: 400px;
}
.comparision_slider_wrapping .img-comp-container, .comparision_slider_wrapping .img-comp-container1,.comparision_slider_wrapping .img-comp-container2,.comparision_slider_wrapping .img-comp-containe3{
  margin: 0 auto!important;
}
}


@media (max-width: 1300px){


}


.delevery_payment .delivery_payment-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

@media (max-width: 1024px){
  .product_main_wraper .content_side_wwrp .product_wraping_inner {
    min-height: 230px;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.product_main_wraper .content_side_wwrp .product_wraping .selected_pro_title {
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
}
.product_main_wraper .content_side_wwrp .product_wraping p.custom_varint {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    margin-bottom: 15px;
}
  .product_main_wraper .content_side_wwrp .product_wraping div.sle_price_pro {
    font-size: 17px;
    line-height: 25px;
    margin: 10px 0;
}
  .product_main_wraper .content_side_wwrp .discount_label {
    font-size: 14px;
  }

.main-product .product_main h2.main_ptoduct_title:after {
    width: 46%;
}

.accordian_tabber_content section.accordian_tabber table tr td {
    width: 33%;
    display: inline-block;
    float: left;
}
  
  
}

@media (max-width: 768px){

.main-product .product_main .container .product_main_wraper .image_side, .main-product .product_main .container .product_main_wraper .content_side {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 0 0px;
}
 .main-product .product_main h2.main_ptoduct_title {
    font-size: 22px;
    padding-top: 45px;
}
.main-product .product_main p.sub_ttile {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    padding-top: 17px;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .content_side_wwrp {
    gap: 5px;
    margin-bottom: 25px;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label {
 top: -15px;
    font-size: 24px;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label:after {
height: 22px;
    max-width: 80%;
}
.product_main_wraper .content_side_wwrp .product_wraping .selected_pro_title {
    padding-top: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
}
.product_main_wraper .content_side_wwrp .product_wraping div.sle_price_pro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .02em;
    color: #fff;
    margin: 15px 0 30px;
}
.product_main_wraper .content_side_wwrp .discount_label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment .delevery_section {
    padding: 0px 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}
.main-product .product_main .container .product_main_wraper .content_side_cont .delevery_payment .payment_section {
    padding: 3px 35px;
    text-align: center;
}
.main-product .product_main .container .product_main_wraper {
    padding: 50px 0 90px;
}

.accordian_tabber_content {
    max-width: 100%;
}
.accordian_tabber_content section.accordian_tabber table tr td {
    width: 32%;
  padding: 0 8px 0 0;
}
.content_wrapper .container {
    max-width: 100%;
}
.content_wrapper .content_inner_wrapper {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #fff;
    padding: 110px 0;
} 
.review_wrapper .container .review_inner h2.section_title {
    margin-bottom: 35px;
    position: relative;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
}
.review_wrapper .container .review_inner h2.section_title:after {
    display: block;
    max-width: 270px;
    left: 0px;
    z-index: 1;
} 
.product_main_wraper .content_side_wwrp .product_wraping_inner {
    min-height: 310px;
}

}


@media (max-width: 640px) {
.jdgm-carousel__left-arrow {
    left: -6px!important;
  
}
  .jdgm-carousel__right-arrow {
    right: -7px!important;
  }
.product_main_wraper .content_side_wwrp .product_wraping_inner {
    min-height: 210px;
}
.accordian_tabber_content section div {
    padding: 10px 0px 25px;
}
.accordian_tabber_content section.accordian_tabber table tr {
    padding: 10px 0;
}
.accordian_tabber_content section.accordian_tabber table tr td {
    word-wrap: break-word;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label {
    top: -6px;
    font-size: 14px;
    max-width: 93%;
}
  .product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label:after {
    height: 19px;
    max-width: 100%;
}
  .product_main_wraper .content_side_wwrp .product_wraping .selected_pro_title {
    padding-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}
.product_main_wraper .content_side_cont .content_side_wwrp .product_wraping p.prodduct_label span {
    top: -2px;
}

  
}


@media (min-width: 481px) and (max-width: 767px) {
div#section-cta {
    margin: 5pc 12pc 0!important;
} 
}
@media (min-width: 768px) and (max-width: 1024px) {
div#section-cta {
    margin: 5pc 12pc 0!important;
} 
}



/******************* PERFORMCE PAGE CSS *******************/

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 13px !important;
    height: 13px !important;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 0;
    outline: none;
    background: #F78AA5 !important;
    border-radius: 30px;
}
.slick-dots {
 bottom: -40px !important;
}
li.slick-active button {
    background: #DBAAEB!important;
    width: 13px !important;
    height: 13px !important;
    border-radius: 30px;
}
div#section-cta {
    margin-top: 10pc;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    outline: none;
    background-color: transparent;
    font-family: "Founders Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #2ac2bd;
    margin-bottom: 11pc;
    margin-left: 27pc;
    margin-right: 27pc;
}
.content-wrapper.new {
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 0;
}
.custom_compare_temp .about-us .main-product__bg-line {
    color: #F3587F;
}





.jdgm-preview-badge .jdgm-star {
    color: #fff!important;
    font-size: 17px;
}
.jdgm-widget span.jdgm-prev-badge__text {
    font-size: 18px;
    color: #fff;
}
.jdgm-preview-badge .jdgm-star {
    color: #fff!important;
    font-size: 17px!important;
}
span.jdgm-prev-badge__stars {
    margin: 0;
    padding: 0;
}
.jdgm-carousel--card-theme .jdgm-carousel-item__review {
    text-align: left;
    height: auto!important;
}

.jdgm-carousel--card-theme .jdgm-carousel-item__inner-wrapper {
    height: auto!important;
}
.jdgm-carousel__item-wrapper {
    height: auto!important;
}
.jdgm-carousel-wrapper {
    width: 100%!important;
    margin: auto;
    padding: 0px 0!important;
}
.jdgm-carousel-wrapper .jdgm-carousel-title-and-link {
    display: none!important;
}
.jdgm-carousel-item__review-title {
    font-weight: bold;
    color: #fff;
  font-size: 18px;
}
.jdgm-carousel-item__review-body p {
    color: #fff;
    font-size: 18px!important;

}
.jdgm-carousel-item__reviewer-name.jdgm-ellipsis {
font-size: 19px !important;
color: #fff !important;
padding-top: 7px;
padding-left: 6px;
opacity: 1;
  width: 7ch;
}

a.jdgm-carousel-item__product.jdgm-ellipsis {
    color: #fff;
    font-size: 15px!important;
    display: none;
}
.jdgm-carousel-item__timestamp.jdgm-ellipsis {
    display: none;
}

.jdgm-carousel--card-theme .jdgm-carousel-item__inner-wrapper {
    height: 100%;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    min-height: 260px;
}
/* .jdgm-carousel__arrows {
    display: none;
} */
.jdgm-carousel-wrapper .jdgm-star.jdgm-star, .jdgm-carousel .jdgm-star.jdgm-star {
    background: transparent!important;
}



.custom_write_reviews .jdgm-rev-widg__body {
    display: none!important;
}
.custom_write_reviews .jdgm-row-actions{
  display: none!important;
}
.custom_write_reviews .jdgm-rev-widg__summary .jdgm-star {
    color: #fff;
}
.custom_write_reviews a.jdgm-link {
    color: #fff;
    font-size: 15px;
      display: none;
}
.custom_write_reviews .jdgm-rev-widg__summary-text {
    color: #fff;
    font-size: 15px;
}
.custom_write_reviews .jdgm-histogram .jdgm-star {
    color: #ffffff;
}
.custom_write_reviews .jdgm-histogram__bar-content {
    background-color: #fff;
}
.custom_write_reviews .jdgm-histogram__frequency {
    margin: 0;
    width: 24px;
    text-align: left;
    color: #ffffff;
}
.custom_write_reviews h2.jdgm-rev-widg__title {
    color: #fff;
}
.custom_write_reviews a.jdgm-star.jdgm--on {
    color: #fff;
}
.custom_write_reviews .jdgm-form__title {
    margin-bottom: 16px;
    font-size: 150%;
    font-weight: bold;
    color: #fff;
}
.custom_write_reviews .jdgm-form label {
    color: #ffffff;
}
.custom_write_reviews .jdgm-form {
    max-width: 100%;
}

.custom_write_reviews .jdgm-form label {
    color: #ffffff;
    font-size: 17px;
    text-align: left;
  float: left;
}
.custom_write_reviews input#jdgm_review_title_cnnv5vptp {
    font-size: 17px;
}

.custom_write_reviews textarea#jdgm_review_body_cnnv5vptp {
    font-size: 17px;
}
.custom_write_reviews span.jdgm-form__reviewer-name-format-container {
    display: none;
}
.custom_write_reviews .jdgm-widget .jdgm-picture-fieldset__box {
    float: left;
    width: 100%;
}
.custom_write_reviews .jdgm-media-fieldset__icon {
    color: #ffffff;
}
.custom_write_reviewsinput #jdgm_review_reviewer_name_cnnv5vptp {
    font-size: 17px;
}
.custom_write_reviews input#jdgm_review_reviewer_email_cnnv5vptp {
    font-size: 17px;
}
.custom_write_reviews .jdgm-notification__title font {
    color: #FFF;
    font-size: 21px;
}
.custom_write_reviews .jdgm-notification__inner font {
    font-size: 22px;
    color: #fff;
}

.custom_write_reviews .jdgm-notification__title:before {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    font-family: "JudgemeIcons";
    content: "\e001";
}
.review_inner .custom_write_reviews .jdgm-histogram.jdgm-temp-hidden, .review_inner .jdgm-rev-widg__summary, .review_inner .jdgm-rev-widg__title {
	display: none !important;
}
.review_wrapper #section-cta {
	display: none;
}
.jdgm-line-clamp {
    display: inline-block!important;
    overflow: unset!important;
    text-overflow: unset!important;
}
.jdgm-carousel--card-theme .jdgm-carousel-item__review-rating {
    font-size: 80%;
    margin-bottom: 8px;
    position: absolute;
    top: 11px;
    right: 12px;
}
.jdgm-carousel-item__review-body {
    margin: 0;
    padding-top: 5px;
}
.jdgm-carousel--card-theme .jdgm-carousel-item__inner-wrapper {
    position: relative;
}

.jdgm-carousel-item__review-content {
    padding-top: 45px;
}
.jdgm-carousel-item__reviewer-name-wrapper {
    position: absolute;
    top: 5px;
    left: 16px;
}
.jdgm-carousel-item__review-title {
    font-size: 19px;
}
.jdgm-notification,.jdgm-notification__inner > a {
	color: #fff !important;
}
.custom_write_reviews .jdgm-notification__title::before {
	width: 55px !important;
	height: 45px !important;
	padding-top: 9px !important;
}
.advantages.advantages--product svg.icon-triangular-line {
	background: #dbaaeb;
}
/*Review slider with image*/
.jdgm-carousel-item {
border: 1px solid #fff;
min-height: 320px;
width: 31.9% !important;
box-shadow: 0 4px 12px #0000001a;
border-radius: 4px;
margin: 0 10px !important;
position: relative;
}
.jdgm-carousel-item__product-image {
  margin: 10px 0 0 !important;
width: 140px !important;
}
.jdgm-carousel-item__review-rating {
	position: absolute;
	top: 11px;
	right: 25px;
}
.jdgm-star {
	color: #fff !important;
}
.jdgm-carousel-item__review-content {
	text-align: left;
}
.jdgm-carousel__left-arrow {
  position: absolute;
  left: -22px;
  top: 50%;
}
.jdgm-widget.jdgm-carousel.jdgm-carousel--default-theme.jdgm-carousel--done {
  position: relative;
}
.jdgm-carousel__right-arrow {
	position: absolute;
	right: -22px;
	top: 50%;
}
.jdgm-carousel-item__review-title {
	font-weight: bold;
	padding: 24px 0px;
  height: 60px !important;
}
/**/

.template-login .footer__bg-line.base-triangular-line path {
  color: #2ac2bd;
}





.slider_images .slider_wrapping {
    width: 100%;
    display: inline-block;
    float: left;
}

.slider_images .slider_wrapping .slider_wrap {
    width: 100%;
    display: inline-block;
    float: left;
    max-width: 33.33%;
}
section.advantages__header.full_width_div {
    width: 100%;
    max-width: 100%;
}
.slider_images .slider_wrapping .slider_wrap .img-comp-container,.slider_images .slider_wrapping .slider_wrap .img-comp-container1,.slider_images .slider_wrapping .slider_wrap .img-comp-container2,.slider_images .slider_wrapping .slider_wrap .img-comp-container3 {
    width: 350px;
}
.slider_images .slider_wrapping .comparision_slider_wrapping img {
    width: 350px;
    max-width: 350px;
}


.slider_wrapping input#Custom_slider_desktop,.slider_wrapping input#Custom_slider_desktop2,.slider_wrapping input#Custom_slider_desktop3 {
    cursor: ew-resize;
    position: absolute;
    z-index: 100;
    width: 114%;
    top: 90px;
    left: -7%;
    background-color: transparent;
    outline: none;
}

.slider_images .slider_wrapping .slider_wrap1,.slider_wrap2,.slider_wrap3 {
    width: 33.33%;
    display: inline-block;
    float: left;
}





.slider_wrap1 section.img-comp-container{
  right: 29%;
}
.slider_wrap2 section.img-comp-container{
  
}
.slider_wrap3 section.img-comp-container{
  left: 29%;
}




@media (max-width: 1300px) {
.slider_wrap1 section.img-comp-container {
    right: -2%;
}
.slider_wrap3 section.img-comp-container {
    left: 3%;
}
}


@media (max-width: 1024px) {
.slider_images .slider_wrapping .slider_wrap1, .slider_wrap2, .slider_wrap3 {
    width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
} 
 

}







/* custom code 29-07-23 */




.template-product[data-pdp-bg=primary] .footer__bg-line,.template-product[data-pdp-bg=tertiary] .footer__bg-line {
    color: #5359e5;
    background-color: #F3587F;
}
.template-product[data-pdp-bg=secondary] .footer__bg-line,.template-product[data-pdp-bg=quaternary] .footer__bg-line {
    background-color: #F3587F;
    color: #2ac2bd;
}

.template-page--withdrawal footer.footer svg.icon.icon-triangular-line {
    color: unset;
}
.template-product[data-pdp-bg=senary] .footer__bg-line {
    color: #2ac2bd;
    background-color: #F3587F;
}






.template-product[data-pdp-bg="primary"] .ingredients .ingredients__bg-line {
    color: #dbaaeb;
}


.template-product[data-pdp-bg="primary"] .advantages .ingredients__bg-line{
  color: #F3587F;
}


.template-product[data-pdp-bg="tertiary"] .advantages .ingredients__bg-line{
  color: #F3587F;
}


.template-product[data-pdp-bg="quaternary"] .advantages .ingredients__bg-line{
  color: #F3587F;
}

.template-product[data-pdp-bg="secondary"] .advantages .ingredients__bg-line{
  color: #F3587F;
}

.template-product[data-pdp-bg="senary"] .advantages .ingredients__bg-line{
  color: #F3587F;
}




/* .custom_compare_temp .advantages svg.icon.icon-triangular-line */

.custom_compare_temp section.advantages .ingredients__bg-line {
    color: #5359e5!important;
}

@media screen and (min-width: 991px) {
  .product-gallery .product-gallery__slider-thumbnail picture {
    height: 60px !important;
    width: 60px !important;
  }
}

@media screen and (max-width: 990px) {
.product-gallery .product-gallery__slider-thumbnail .swiper-slide {
  width: 20% !important;
}

.product-gallery .product-gallery__slider-thumbnail picture {
  height: 70px !important;
  width: 70px !important;
}


  .product-gallery__slider-thumbnail .swiper-wrapper {
    justify-content: center;
  }
}

.product-form__meta-price {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.product-form__unit-price {
  color: #ffffff;
  font-size: 0.5em; 
}

.products_listing .price-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.products_listing .product-item__unit-price {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.6em; 
  margin-top: -5px;
}

.product-gallery .product-gallery__slider-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-gallery .product-gallery__slider-thumbnail picture {
	border-radius: 0 !important;
}

/* TODO Had to be done fast for Black Friday so should be done more clean */

.product_select select {
  width: 100%;
  height: 40px;
  max-width: 100%;
  cursor: pointer;
}

bundle-picker {
  overflow: hidden;
}

bundle-picker .product_wraping_inner {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

bundle-picker .product_wraping {
  cursor: auto !important;
}

bundle-picker .sle_price_pro {
  height: auto !important;
}

bundle-picker .selected_pro_title {
  padding-top: 15px !important;
  height: 100%;
}

bundle-picker .prodduct_label {
  font-size: 24px !important
}

bundle-picker .prodduct_label::after {
  max-width: 180px !important;
}

bundle-picker .product-quantity-content {
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

bundle-picker .main_price {
  font-size: 24px !important;
}

bundle-picker .review_variant_pr {
  margin-bottom: 20px;
}

bundle-picker .main_ptoduct_title--underline:after {
  background-color: #9c4054 !important;
}

bundle-picker .image_side_wwrp {
  margin-bottom: 20px !important;
}

@media (max-width: 640px) {
  bundle-picker .main_ptoduct_title {
    padding-top: 20px !important;
  }

  bundle-picker .prodduct_label {
    font-size: 12px !important
  }

  bundle-picker .selected_pro_title {
    font-size: 16px !important;
  }

  bundle-picker .image_side_wwrp {
    margin-bottom: 0px !important;
  }

  bundle-picker .product-quantity-content {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 15px;
  }
}
