.info-tabs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  .tabs-navigation {
    display: flex;
    gap: 5px;

    &__item {
      padding: 5px;
      cursor: pointer;
      border: 1px solid rgb(var(--color-text));
      color: rgb(var(--color-text));
      border-radius: 4px;
    }

    &__item[open] {
      background-color: rgb(var(--color-text));
      color: rgb(var(--product-card-background));
    }
  }

  .tab-wrapper {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;

    &[open] {
      display: flex;
    }
  }
}
