/* stylelint-disable */
.input-radio {
  display: flex;
  align-items: center;
  gap: 5px;
	label {
		cursor: pointer;
	}

	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
		padding: 0;
		width: 25px;
		height: 25px;
		border: 1px solid rgba(var(--color-text), 0.5) ;
		border-radius: 50%;
		background: transparent;
		cursor: pointer;
		flex-shrink: 0;
	}

	input[type="radio"]:checked {
		background: var(--section-accent-color);
	}
}
/* stylelint-enable */
