.modal-popover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow-y: auto;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;

  &--large {
    .popover__content {
      width: 500px;
      max-width: 100%;
      background-color: var(--section-background-color);
    }

    .popover__content-inner {
      padding-top: 20px;
    }
  }

  .popover__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .popover__content {
    position: relative;
    z-index: 1;
  }

  .popover__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &[open] {
    visibility: visible;
    opacity: 1;
    z-index: 999999;

    .popover__overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}
