/* stylelint-disable */
.select-box {
	position: relative;
	display: block;
	width: 100%;

	&.select-box--space {
		padding-top: 25px;
	}

	&.select-box--blue {
		select {
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-text-fill-color: #ffffff;
				-webkit-box-shadow: 0 0 0 62px $brand-secondary inset !important;
			}
		}
	}

	select {
		-webkit-appearance: none;
		width: 100%;
		min-height: 48px;
		padding: 16px 40px 16px 0;
		border: none;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		background: transparent;
		cursor: pointer;
		font-family: inherit;
		font-size: 16px;
		color: #ffffff;
		transition: all 150ms ease;

		&:required:invalid {
			color: $brand-quaternary;
		}

		option {
			color: $brand-secondary;
			padding: 5px 10px;
			background: #fff;
			&[value=""][disabled] {
				display: none;
			}

			&:hover,
			&:focus,
			&:active,
			&:checked {
				background: #fff;
			}

			&:hover {
				background: $brand-tertiary;
			}

			&[selected] {
				background: $brand-tertiary;
			}
		}

		&:focus {
			outline: none;
			border-color: #d3d6d9;
			box-shadow: 0 1px 3px -2px #d3d6d9;
		}

		&:hover + svg {
			color: #fff;
		}
	}

	svg {
		position: absolute;
		right: 12px;
		top: calc(61%);
		width: 10px;
		height: 10px;
		stroke-width: 2px;
		color: #fff;
		fill: none;
		pointer-events: none;
		transform: rotate(-0.25turn);
	}

	@media #{$no-fw} {
		select {
			font-size: 1.1vw;
		}
	}
}
/* stylelint-enable */
