.table-wrapper {
  overflow-x: auto;
  position: relative;
}

table {
  color: rgb(var(--color-text));
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  .table-cell {
    background-color: var(--section-background-color);
  }

  tr {
    padding: 10px 0;
    border-bottom: 1px solid rgba(var(--color-text), 0.2);

    &:last-child {
      border: none;
    }

    th {
      border-right: 1px solid rgba(var(--color-text), 0.2);
      padding: 10px;

      &:last-child {
        border-right: none;
      }

      &:first-child {
        .table-cell__content {
          align-items: flex-start;
          text-align: left;
        }
      }
    }

    td {
      text-align: center;
      border-right: 1px solid rgba(var(--color-text), 0.2);
      padding: 10px;

      &:last-child {
        border-right: none;
      }
    }

    @media #{$m-xl} {
      td,
      th {
        width: 33.33%;
      }
    }

    .table-cell__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    @media #{$m-xl} {
      .table-cell__content {
        font-size: 14px;
      }
    }

    @media #{$m-xl} {
      .sticky-cell {
        position: sticky;
        right: 0;
        z-index: 1;
      }
    }
  }
}
