<option value="{{ block.settings.label }}">{{ block.settings.label }}</option>

{% schema %}
{
  "name": "Option",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label"
    }
  ],
  "presets": [
    {
      "name": "Option"
    }
  ]
}
{% endschema %}