<style>
  #shopify-block-{{ block.id }} .heading {
    margin-top: {{ block.settings.margin_top }}px;
    margin-bottom: {{ block.settings.margin_bottom }}px;
  }
</style>

<h2 class="heading">{{ block.settings.text }}</h2>

{% schema %}
{
  "name": "Heading",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin top",
      "min": 16,
      "max": 48,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 16,
      "max": 48,
      "step": 1,
      "default": 24,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}